* {
  word-wrap: break-word;
}

.md-success-toast
{
	position: fixed;
}	
md-card-footer
    {background-color: #DDD;}
.nopadding
{padding: 0px !important;}
.margBot10{margin-bottom: 10px !important;}
.margTopBot10{margin: 10px 0px !important;}
.taxLabel{height: 64px;padding-top: 20px;padding-bottom: 20px;}
.md-success-toast .md-toast-content{
    background-color: green !important;
}
.md-error-toast
{
	position: fixed;
}
.md-error-toast .md-toast-content{
    background-color: maroon !important;

}
.custom_header
{ background-color: rgb(0, 54, 77) !important;
    color: rgba(255,255,255,0.87) !important;}
.theme_color
{
    background-color: #eee;
}
.theme_color_header
{
    background-color: rgb(0,54,77) !important;
    color: #fff !important;
}
.theme_color_md_subhead
{
  font-size: 14px;
  color: #fff;
}
.unicus-footer
{ 
	font-size: 9pt;
   text-align: center;
   border-top: 1px solid #ccc;
   padding-top: 3px;
   padding-bottom: 3px;
}
.md-content
{
	background-color: #fff !important;
	/*width: 800px !important; */
}
.pointer {
    cursor: pointer;
}
.margin_0 {
	margin: 0 !important;
}
.width_1000
{
  width: 1000px;
}
.text-center
{
  text-align: center;
}

md-input-container.md-default-theme.md-input-invalid .md-char-counter, md-input-container.md-input-invalid .md-char-counter, md-input-container.md-default-theme.md-input-invalid .md-input-message-animation, md-input-container.md-input-invalid .md-input-message-animation, md-input-container.md-default-theme.md-input-invalid label, md-input-container.md-input-invalid label {
    color: #F36F20;
}
md-input-container.md-default-theme.md-input-invalid .md-input, md-input-container.md-input-invalid .md-input {
    border-color: #F36F20;
}
.margin-top20{
  margin-top:20px;
}
.no-radius{
  border-radius: none !important;
}
.border-none{
  border:none !important;
}
.border-bottom{
  border-bottom: 1px solid #ddd !important;
}
.margin-right0{
  margin-right:0px !important;
}
.margin-left20{
  margin-left:16px !important;
}
.cursor_pointer
{
  cursor: pointer;
}
.color_white
{
  color: #fff !important;
}
.margin_16
{
  margin: -16px !important;
}
.width_380
{
  width:380px;
}
.height_70
{
  height:70px !important;
}
md-input-container 
{
  margin: 18px 0 0 0 !important;
}
md-select-menu.md-default-theme md-content md-option:not([disabled]):focus, md-select-menu md-content md-option:not([disabled]):focus, md-select-menu.md-default-theme md-content md-option:not([disabled]):hover, md-select-menu md-content md-option:not([disabled]):hover
{

    background: rgb(175, 174, 174);
}
.margin_padding_0
{
  margin: 0px !important;
  padding:0px !important;
}
.orange
{
  color: orange;
}
.green
{
  color: green;
}
.red
{
  color: red;
}
.selectdemoSelectHeader {
    /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
}
.selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}
.selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}
.selectdemoSelectHeader md-content._md {
    max-height: 240px;
}
.md-datepicker-input-container{
  width: 100% !important;
}
.no-padding
{
  padding: 0px !important;
}
.default
{
  background-color: #ccc;
}
.bg_orange
{
  background-color: orange;
}
.bg_red
{
  background-color: red;
}
md-list md-list-item button.md-button:hover {
  cursor:default!important;
}
md-list md-list-item button.md-button i,
md-list md-list-item button.md-button md-icon,
md-list md-list-item button.md-button .md-secondary-container md-icon
{ cursor:pointer; z-index:1!important;}
md-list md-list-item .md-secondary-container{ z-index:1!important; }
.text-center
{
    text-align: center;
}
.text-right
{
    text-align: right;
}
.md-card{
    margin-top: 10px !important;
    padding: 0!important;
}
.margin_top_20
{
  margin-top: 20px;
}
.masters_list .md-secondary-container {
    min-width: 15%;
}
.masters_list .md-secondary-container button {
    padding: 0 !important;
    margin: 0 !important;
}
.masters_list .md-subheader-inner {
    padding: 0 16px !important;
}